:root {
    --main-color: #4b33a8;
    --MAIN-DARK: #785ce9;
    --white: #ececec;
    --gray: #e2e2e2;
    --red: #961818;
}

*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

ul {
    list-style: none;
}

a,
a:visited,
a:link {
    text-decoration: none;
}

/** VERSION MOBILE*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    height: 85px;
    z-index: 9999999;
}

.header__logo {
    width: 70px;
    height: 70px;
}

.main-nav {
    width: 70%;
    height: 100vh;
    padding: 1em;
    min-width: 160px;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

.main-menu__link {
    color: white;
}

/**APARECER MENU*/

.main-nav--visible {
    display: block;
    background-color: #411a8b;
    height: 100vh;
}

.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.308); /* Fondo semi-transparente con difuminado */
    backdrop-filter: blur(10px); /* Aplica un desenfoque al fondo */
    z-index: 9999; /* Z-index alto para estar en la parte superior */
}

/* Estilos para el GIF de carga */
.loading-spinner {
    width: 100px; 
    height: 100px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    margin-top: 4em;
}

.header__x {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    height: 40px;
}

.header__menu {
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    height: 40px;
}
/**HEADER DESKTOP*/
@media screen and (min-width: 500px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        align-items: center;
    }

    .main-nav {
        position: static;
        display: block;
        width: auto;
        height: auto;
    }

    .main-menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 0;
    }

    .header__x {
        display: none;
    }
    .header__menu {
        display: none;
    }
}

input {
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-register {
    border: solid white 1px;
    padding: 2em;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.input-padding {
    padding-left: 4em;
}

.container-relative {
    position: relative;
}

.icon-absolute {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 7px;
    bottom: 5px;
}

.btn {
    background-color: #411a8b;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: var(--main-color);
    color: black;
}

/*LOGIN*/
.form-login {
    padding: 2em;
    background-color: #fff;

    border-radius: 15px;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

/*FOOOTER*/

.footer {
    align-items: center;
    margin-top: 5em;
    padding: 0.5em;
    gap: 3em;
    width: 100%;
    font-size: 0.8rem;
    background-color: var(--main-color);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.footer__contact-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.footer__social {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer__social:hover {
    cursor: pointer;
}

.footer__icon {
    filter: invert(1);
    width: 20px;
}

/**FOOTER*/
.footer {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);

    color: #fff;
}

.footer__contact {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.footer__social {
    gap: 2em;
}
