:root {
    --primary-color: #0d0f1b;
    --primary-font-color: #d8d6d6;
    --button-bg: #d3394c;
    --primary: #1a132b;
    --secondary: #2c214c;
    --third: #7d5cdc;
    --test: #201835;

    --white: #fff;
}

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*VERSION MOBILE - COMIENZA CON ESTILOS PARA MOBILE*/

/*HEADER*/

.header {
    position: sticky;
    width: auto;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(44, 33, 76, 0.2); */
    background-color: var(--primary);
    /* background-color: transparent; */
    /* background-color: #171031; */

    /* background-color: transparent; */

    padding: 1em;
}

.header__hamburguer {
    display: block;
    width: 40px;
    filter: invert(1);
}

.header__hamburguer:hover {
    cursor: pointer;
}

.main-nav {
    display: none;
    width: 100%;
}

.main-menu__link {
    color: var(--primary-font-color);
}

.main-menu__link--register {
    /* background-color: #ac2812; */
    background-color: #d3394c;

    padding: 0.5em;

    border-radius: 5px;
}

.main-nav--active {
    display: block;
}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

/*BODY MAIN*/
body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1em;
    background-color: var(--primary);
    color: var(--primary-font-color);
    min-height: 100vh;
}

/**MAIN CONTENT*/

.select__search {
    display: none;
}

.panel {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    min-width: 160px;
    height: 100vh;
    background-color: var(--secondary);
    padding: 1em;
    display: none;
}

.panel--active {
    display: block;
}

.panel__x {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    filter: invert(1);
}

.input-container-column {
    display: flex;
    flex-direction: column;
}

.panel__inputs {
    margin-top: 3em;
}

.section-show {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;

    padding-left: 2em;
    padding-right: 2em;
}
.select__filter {
    margin-right: 2em;
}

.cards {
    margin-top: 3em;
    padding: 1em;
}

.card__form {
    display: grid;
    gap: 1.5em;
    /* grid-template-columns: repeat(250px); */
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    color: var(--primary-font-color);
    background-color: var(--secondary);
    border-radius: 8px;
}

/*VERSION DESKTOP*/
@media screen and (min-width: 660px) {
    .header__hamburguer {
        display: none;
        pointer-events: none;
    }

    .main-nav {
        display: block;
        width: auto;
    }

    .main-menu {
        display: flex;
        flex-direction: row;
        gap: 1em;
        text-align: right;
    }

    .container {
        display: flex;
        gap: 1em;
    }

    .select__search {
        display: inline;
    }
    .panel {
        border-radius: 15px;
        display: block;
        width: 30%;
        position: static;
        height: 500px;
    }

    .panel__x {
        display: none;
    }

    .select__filter {
        display: none;
    }

    .card__form {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .card {
        display: flex;
    }

    .section-show {
        background-color: #fff;
        border-radius: 15px;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
}
